
body{

    background-image: url("../img/sport-fotbal.jpg");
    background-size: cover;
    display: flex;

    align-items: center;

    justify-content: center;

    

    flex-direction: column;
}

.container{
    width:40%;
}


header{


    width:100%;
    height: 150px;
    max-height: 200px;
    text-align: center;
    background-color: rgb(36, 97, 7);
}

header h1 {
    color:white;
}

header h2 {
    color:rgb(171, 224, 161);
}

main{



     background-color: green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}



img{

    width: 150px;
    height: 200px;

}


.gazde h3{
    color:white;
    
    text-align: center;
  
    font-size: 30px; 
    

}
.gazde p {
    color:white;
    
    text-align: center;
  
    font-size: 25px; 
}
.oaspeti h3{
    color:white;
    
    text-align: center;
  
    font-size: 30px; 
    

}

.oaspeti p {
    color:white;
    
    text-align: center;
  
    font-size: 25px; 
}

img{
    
    
    border-radius: 20px;
    border: 4px solid yellowgreen;
   
}



footer p{
    color:white;
    background-color: rgb(16, 122, 2);
   
   
    text-align: center;
    height:50px;
}

footer {
    width:100%;
    height: 30px;
    max-height: 50px;
}

.generare_meciScor p {
    color:rgb(250, 8, 8);
    background-color: rgb(148, 218, 8);
    width:130px;
    height:60px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin:auto;
    font-size: 25px;
    cursor: pointer;
}

img.primapagina{
    
    width:50%;
    height:60%;
    border-radius: 20px;
    border: 4px solid rgb(115, 248, 38);
    margin-left:25%;

}

btnStart{
    color:aqua;
}


.myButton {
	box-shadow: 0px 10px 14px -7px #59af7d;
	background:linear-gradient(to bottom, #7dca97 5%, #2ac95f 100%);
	background-color:#64d176;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1b6904;
}
.myButton:hover {
	background:linear-gradient(to bottom, #8ece9b 5%, #4aaa57 100%);
	background-color:#44e703;
}
.myButton:active {
	position:relative;
	top:1px;
}


.exitButton {
	box-shadow: 0px 10px 14px -7px #e9410e;
	background:linear-gradient(to bottom, #e6955f 5%, #a04e02 100%);
	background-color:#db4b12;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #683301;
}
.exitButton:hover {
	background:linear-gradient(to bottom, #c99e4f 5%, #f59506 100%);
	background-color:#e75703;
}
.exitButton:active {
	position:relative;
	top:1px;
}
